body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: block;
  margin: 0 auto;
  position: relative;
  padding: 97px 80px 126px;
  max-width: 1440px;
  width: 100vw;
  overflow: hidden;
  background: #fff;
}

.logo {
  position: absolute;
  top: 35px;
  left: 34px;
  width: 23px;
  height: 23px;
}

.menu {
  position: absolute;
  top: 97px;
  right: 80px;
  width: 54px;
  height: 54px;
  background: url(../img/menu-border@2x.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.arc {
  position: relative;
  width: 62.5%;
  height: 525px;
  background: url(../img/arc@2x.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.yellow-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F7E611;
  opacity: 0.8;
}

.moto {
  position: relative;
  margin-top: calc(87px - 525px);
  margin-left: 32.8%;
  width: 67.2%;
  height: 490px;
  background-color: #fff;
  background-image: url(../img/moto@2x.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text {
  position: absolute;
  top: 183px;
  left: 17.4%;
  font-family: Geometria;
  font-size: 14px;
  line-height: 17px;
}

.text__two {
  top: 263px;
}

.text__more {
  top: 127px;
  left: 44%;
  font-size: 28px;
  transform: rotate(-90deg);
}

.trapecia {
  position: absolute;
  top: 266px;
  left: 27.3%;
  width: 9.1%;
  height: 282px;
}

.trapecia__content {
  position: absolute;
  bottom: 0;
  left: -26px;
  font-family: Philosopher;
  font-size: 9px;
  line-height: 10px;
  font-style: italic;
}

.circle {
  position: absolute;
  top: 216px;
  left: 45.8%;
  width: 112px;
  height: 112px;
}
.circle__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 77.7%;
  height: 15%;
  background: url(../img/logo@2x.png);
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.letter {
  position: absolute;
  width: 53px;
  height: 80px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.letter__a {
  top: 97px;
  left: 68.1%;
  background: url(../img/letterA.svg);
}

.letter__e {
  top: 137px;
  left: 80.2%;
  background: url(../img/letterE.svg);
}
.letter__g {
  width: 62px;
  top: 215px;
  left: 74%;
  background: url(../img/letterG.svg);
}

.slider {
  position: absolute;
  top: 256px;
  left: 71.1%;
  width: 10.7%;
  height: 383px;
  background: #F7E611;
  font-family: Geometria;
  /* z-index: 10; */
}

.slider__wrapper {
  padding: 305px 21px 3px 21px;
}

.slider__text {
  font-size: 45px;
  line-height: 54px;
}

.slider__subtext {
  margin: 0;
  margin-left: 56px;
  font-size: 17px;
  line-height: 17px;
}

.shtamp {
  position: absolute;
  bottom: 84px;
  left: 50%;
  width: 16.6%;
  height: 134px;
  background: url(../img/lavr@2x.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateX(-50%);
}

.rectangle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #F7E611;
}

.footer__left {
  position: absolute;
  bottom: -16px;
  left: 15%;
  width: 27%;
  height: 113px;
  background: url(../img/footer-left.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer__right {
  position: absolute;
  bottom: 17px;
  right: 16.9%;
  width: 22.9%;
  height: 62px;
  background: url(../img/footer-right.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 550px) {
  .wrapper {
    padding: 0;
    background-color: #F7E611;
  }
  .footer__left,
  .footer__right,
  .logo-text,
  .trapecia,
  .circle,
  .rectangle,
  .text
   {
    display: none;
  }
  .slider {
    margin: 0 auto;
    top: 0;
    left: 50%;
    width: 60%;
    height: 100%;
    min-height: 100vh;
    transform: translateX(-50%);
    background: transparent;
    z-index: 10;
  }
  .menu {
    width: 20px;
    height: 18px;
    background-size: auto;
    top: 20px;
    right: 20px;
  }
  .logo {
    top: 16px;
    left: 20px;
    z-index: 20;
  }
  .shtamp {
    width: 109px;
    height: 109px;
    bottom: 0;
    transform: translate(-50%, 50%);
    background: url(../img/lavr-mobile.svg);
  }
  .letter {
    width: 40px;
    height: 60px;
  }

  .letter__a {
    top: 235px;
    left: 21.9%;
  }

  .letter__e {
    top: 141px;
    left: 68.1%;
  }
  .letter__g {
    width: 62px;
    top: 219px;
    left: 46.3%;
  }
}


